extend ../layouts/layout

block body
    .row.mt-5
        .col-6
            include ../partials/product_form
        //- .col-6
        //-     include ../partials/chat_form
    #products-list.mt-5
        p.text-muted.text-center Esperando lista de productos...