nav.navbar.navbar-expand-lg.bg-light.mb-5
    .container
        a.navbar-brand(href='/') Desafío Clase 10: Motores de plantillas
            span.text-muted.ms-1 (PUG)
        ul.navbar-nav.me-2.ms-auto.mb-2.mb-lg-0
            li.nav-item
                a.nav-link(href='/') Nuevo Producto
            li.nav-item
                a.nav-link(href='/productos') Listado de Productos